[submodule "garcon"]
	path = garcon
	url = https://github.com/erichocean/garcon.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = https://github.com/sproutcore/sproutcore.git
